<div class="container-fluid">
    <!--Navbar-->
    <div class="box">
      <img src="../assets/logo briviabrividez.svg" alt="Brividez" />
      <ul>
        <li>
            <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Sobre nós</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>Quem Somos</button>
                      <button ngbDropdownItem>Blog</button>
                      <button ngbDropdownItem>Nossa Equipe</button>
                    </div>
                  </div>
                </div>
              </div>
        </li>
        <li>
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Mercados</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem  onclick="window.location.href='#';">Marketing</button>
                  <button ngbDropdownItem  onclick="window.location.href='#';">Eventos</button>
                  <button ngbDropdownItem  onclick="window.location.href='#';">Manutenção</button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
              <div class="col">
                <div ngbDropdown class="d-inline-block">
                  <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Produtos</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem  onclick="window.location.href='#';">Projetos Online</button>
                    <button ngbDropdownItem  onclick="window.location.href='#';">Social Midia</button>
                    <button ngbDropdownItem  onclick="window.location.href='#';">Criação de conteúdo</button>
                  </div>
                </div>
              </div>
            </div>
        </li>
        <li>
          <div class="row">
              <div class="col">
                <a href="#" target="blank" id="">Sustentabilidade</a>
              </div>
            </div>
        </li>
        <li>
          <div class="row">
             <div class="col">
               <div ngbDropdown class="d-inline-block">
                 <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Conteúdos</button>
                 <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                   <button ngbDropdownItem onclick="window.location.href='#';">E-book</button>
                   <button ngbDropdownItem  onclick="window.location.href='#';">Podcast</button>
                   <button ngbDropdownItem  onclick="window.location.href='#';">Webinar</button>
                 </div>
               </div>
             </div>
            </div>
        </li>
        <li>
          <div class="row">
            <div class="col">
              <a href="#" target="blank" id="">Contato</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--/Navbar-->


  <!--Migalhas de Pão-->
  <div class="braedcrumb">
    <ul>
      <li><a href="#" target="blank">Página Inicial</a></li>
      <li><strong>></strong></li>
      <li><a href="#" target="blank">Contato</a></li>
      <li><strong>></strong></li>
    </ul>
  </div>
  <!--/Migalhas de Pão-->


   <!--Contato-->
  <div class="box-contato">
    <h1>Contato</h1>

    <p>
      Para enviar sugestões e obter informações complementares sobre a atuação da Oxiteno, seus
    </p> 
    <p>
      produtos e serviços, preencha o formulário abaixo.
    </p>
    <p>Para assuntos de Imprensa, entre em contato com a assessoria: <a target="blank" href="mailto:oxitenopr@edelman.com">oxitenopr@edelman.com</a></p>
  </div>
  <!--/Contato-->

</div>