<div class="box-footer">
    <div class="row">
      <div class="col-3">
        <img src="../assets/logo briviabrividez.svg"  class="logo-briviadez" alt="briviadez" />
        <div class="box-social">
          <img src="../assets/Íconefacebook.svg" alt="Facebook" />
          <img src="../assets/Íconelinkedin.svg" alt="Linkedin" /> 
        </div>
        
      </div>
      <div class="col-2">
        <ul>
          <li><strong>Sobre nós</strong></li>
          <li><a href="#">Quem somos</a></li>
          <li><a href="#">Onde estamos</a></li>
          <li><a href="#">Histórias</a></li>
          <li><a href="#">Parcerias</a></li>
          <li><a href="#">Governanças</a></li>
          <li><a href="#">Certificados</a></li>
          <li><a href="#">Prêmios</a></li>
          <li><a href="#">Patrocínios</a></li>
          <li><a href="#">Inovação</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul>
          <li><strong>Mercado</strong></li>
          <li><a href="#">Agroquímicos</a></li>
          <li><a href="#">Cuidados pessoais</a></li>
          <li><a href="#">Limpeza doméstica e institucional</a></li>
          <li><a href="#">Coatings</a></li>
          <li><a href="#">Petróleo e gás</a></li>
          <li><strong>Produtos e Soluções</strong></li>
          <li><a href="#">Formulation finder</a></li>
        </ul>
      </div>
      <div class="col-2">
        <ul>
          <li><strong>Pessoas</strong></li>
          <li><a href="#">Carreiras</a></li>
          <li><a href="#">Cultura</a></li>
          <li><strong>Conteúdos</strong></li>
          <li><a href="#">Notícias</a></li>
          <li><a href="#">Artigos</a></li>
          <li><a href="#">Eventos</a></li>
          <li><strong><a href="">Sustentabilidade</a></strong></li>
        </ul>
      </div>
      <div class="col-3">
        <ul>
          <li><strong><a href="#">Entre em contato</a></strong></li>
          <li><strong><a href="#">Política de privacidade</a></strong></li>
          <li><strong><a href="#">Código de ética</a></strong></li>
          <li><strong><a href="#">Acessibilidade</a></strong></li>
        </ul>
      </div>
    </div>
  </div>
