.formulario div{
    margin: 32px;
}

.formulario textarea:focus{
    background-color: #F0F2F5 ;
}

.formulario input:focus{
    background-color: #F0F2F5;
}

label{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

#flexCheckTexto{
    font-size: 15px;
    text-align: center;
}

.formulario a{
    color: #9ACA3C;
}

#flexCheckDefault{
    accent-color: #9ACA3C;
    margin-left: 0;
    margin-right: 10px;
    height: 18px;
    width: 18px;
}