<form [FormGroup]='formContato' (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="formulario">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Nome" id="floatingTextarea1" formControlName="name"></textarea>
            <label for="floatingTextarea1">Nome:</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="E-mail" formControlName="email">
            <label for="floatingInput">Email:</label>
          </div>
          <div class="form-floating">
            <input type="tel" class="form-control" id="floatingTel" placeholder="Telefone" formControlName="telefone">
            <label for="floatingTel">Telefone:</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingText" placeholder="Assunto" formControlName="assunto">
            <label for="floatingText">Assunto:</label>
          </div>
          <div class="form-floating">
            <textarea 
                class="form-control" 
                placeholder="Mensagem" 
                id="floatingTextarea2" 
                style="height: 100px" 
                formControlName="mensagem">
            </textarea>
            <label for="floatingTextarea2">Mensagem:</label>
          </div>
          <div class="form-check">
            <input class="" type="checkbox" value="" id="flexCheckDefault" formControlName="termos">
            <label class="form-check-label" for="flexCheckDefault" id="flexCheckTexto">
              Li e concordo com os <a href="" target="blank">Termos de Condições</a> e com a <a href="" target="blank">Políticas de Privacidade</a>
            </label>
          </div>
        </div>
  
      </div>
</form>
