<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BriviaDez,Marketing,Empresa">
    <!--/Required meta tags-->
    <title>BRIVIADEZ</title>
  </head>
  <body>
    <!-- Componentes -->
    <app-header></app-header>
    <app-formulario-contato></app-formulario-contato>
    <app-footer></app-footer>
    <!-- /Componentes -->
  </body>
</html>
